#article-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
}

#article-modal.open {
    display: flex;
}

#article-modal .modal-body {
    width: 1150px;
    height: 780px;
    border-radius: 25px;
    background-color: rgb(48, 48, 48);
}

.modal-open {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
}

.modal-body {
    padding: 25px 40px 25px 25px;
    background-color: rgb(30, 30, 30);
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.modal-body .user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-body .follow-btn {
    font-size: 24px;
    font-weight: bolder;
    width: 135px;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(35, 35, 35);
    /*color: rgb(238, 238, 238);*/
    color: #d2d2d2;
    margin-right: 15px;
}

.head-modal-article {
    display: flex;
    justify-content: space-between;
}

.avatar {
    margin-right: 15px;
}

.username {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 45px;
    cursor: pointer;
}

.evaluate-article {
    display: flex;
    align-items: center;
}

.quantity-followers {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: #818181;
    margin: 0;
}

.ellipsis {
    display: flex;
}

.head-modal-article .article-icons {
    font-size: 27px;
    color: #818181;
    margin:0  20px 0 0;
    cursor: pointer;
}

.modal-body .article-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.modal-body .article-info {
    width: 100%;
    padding: 25px;
    border-radius: 12px;
    max-height: 645px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(35, 35, 35);
}

.project-info {
    display: flex;
    flex-direction: column;
}

.indicative-inscriptions {
    align-self: end;
    font-weight: bolder;
    font-size: 30px;
    margin: 0 0 20px 0;
    color: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 7px;
    background-color: rgba(94, 94, 94, 0.45);
}

.modal-body .article-info .title {
    align-self: center;
    font-weight: bolder;
    font-size: 65px;
    margin: 0 0 30px 0;
}

.modal-body .article-info .description {
    padding: 30px;
    border-radius: 14px;
    margin: 0 30px 30px 0;
    background-color: rgb(25, 25, 25);
    font-weight: bolder;
    font-size: 18px;
    color: #e3e3e3;
}

.article-container .photo-list {
    align-self: start;
    margin: 0 0 10px 0;
}

.article-container .photo-list img {
    width: 280px;
    height: 280px;
}

.article-container .photo-list li {
    margin-right: 10px;
}

.article-card-info {
    align-self: flex-start;
    min-width: 50%;
    max-width: 75%;
    padding: 20px;
    border-radius: 14px;
    background-color: rgb(23, 23, 23);
    font-size: 15px;
    font-weight: bolder;
    color: #e3e3e3;
    margin-bottom: 30px;
}

.article-cap {
    display: flex;
}

.article-card-info .views {
    margin-right: 15px;
}

.creator-urls {
    padding: 0;
}

.creator-urls li {
    margin-top: 15px;
    font-size: 20px;
    color: #9b0f9b;
}

.creator-urls li a {
    text-decoration: underline;
    color: rgb(30, 214, 97);
}

.article-grade {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    border-radius: 14px;
    background-color: rgb(23, 23, 23);
    margin-top: 5px;
}

.comments-list li {
    font-size: 15px;
    font-weight: bolder;
    margin-top: 30px;
    color: #e3e3e3;
}





