#article-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
}

#article-modal.open {
    display: flex;
}

#article-modal .modal-body {
    width: 1150px;
    height: 780px;
    border-radius: 25px;
    background-color: rgb(48, 48, 48);
}

.modal-open {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
}

.modal-body {
    padding: 25px 40px 25px 25px;
    background-color: rgb(30, 30, 30);
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.modal-body .user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head-modal-article {
    display: flex;
    justify-content: space-between;
}

.avatar {
    margin-right: 15px;
}

.username {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 15px;
}

.created-at {
    font-size: 15px;
    font-weight: bolder;
    color: #818181;
}

.head-modal-article .fa-heart {
    position: relative;
    top: 20px;
    font-size: 35px;
    color: #b4b4b4;
}

.modal-body .article-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.modal-body .article-info {
    width: 100%;
    /*border: 1px solid;*/
    /*box-sizing: border-box;*/
    padding: 25px;
    border-radius: 12px;
    max-height: 645px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(35, 35, 35);
}

.project-info {
    display: flex;
    flex-direction: column;
    height: 850px;
}

.indicative-inscriptions {
    align-self: end;
    font-weight: bolder;
    font-size: 30px;
    margin: 0 0 20px 0;
    color: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 7px;
    background-color: rgba(94, 94, 94, 0.45);
}

.modal-body .article-info .title {
    align-self: center;
    font-weight: bolder;
    font-size: 65px;
    margin: 0 0 70px 0;
}

.content-container {
    height: 450px;
}

.modal-body .article-info .description {
    padding: 30px;
    border-radius: 14px;
    margin: 0 30px 30px 0;
    background-color: rgb(25, 25, 25);
    font-weight: bolder;
    font-size: 18px;
    color: #e3e3e3;
}

.article-container .photo-list {
    align-self: start;
    margin: 0 0 50px 0;
}

.article-container .photo-list img {
    width: 280px;
    height: 280px;
}

.article-container .photo-list li {
    margin-right: 10px;
}

.article-grade {
    margin-top: 150px;
}
