body {
    /*background-color: rgb(19, 19, 19);*/
    margin: 0;
}

#app {
    width: 500px;
}

.article {
    padding: 10px;
    background-color: rgb(1, 12, 15);
    margin-top: 10px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.photo-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.photo-list img {
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 150px;
}

.photo-list li:not(:first-child) {
    margin-left: 10px;
}