#app {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    /*background-color: rgb(52, 52, 52);*/
    /*border-radius: 15px;*/
    margin: 175px 0 160px 175px;
}

.article {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    height: 400px;
    width: 520px;
    background-color: rgb(30, 30, 30);
    margin-top: 40px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.article .article-popularity {
    display: flex;
    justify-content: space-between;
}

.article .user {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.article .user .avatar {
    margin-right: 15px;
}

.article .user .username {
    font-weight: bolder;
    font-size: 17px;
    cursor: pointer;
    margin-right: 15px;
}

.article .user .username:hover {
    border-bottom: 2px solid;
}

.article .user .created-at {
    font-weight: bolder;
    font-size: 14px;
    color: rgb(122, 122, 122);
}

.article .pop {
    font-weight: bolder;
    font-size: 15px;
    color: #818181;
    margin-right: 3px;
}

.article .title {
    font-weight: bolder;
    font-size: 35px;
}

.article h3 {
    margin: 25px 0 15px;
}

.article .article-project-description {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article .article-content {
    width: 450px;
}

.article .content {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.85);
}

.photo-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.photo-list img {
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 150px;
}

.photo-list li:not(:first-child) {
    margin-left: 10px;
}
